<% include partials/header.ejs%>

<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="post">
        <div class="field">

            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">

            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <textarea name="blog[body]" placeholder="Content"></textarea>
        <input class="ui basic violet button big" type="submit">
    </form>
</div>

<% include partials/footer.ejs%>