i.icon {
    font-size: 2em;
}
body {
    padding-top: 70px;
}

.ui.form textarea {
    margin-bottom: 15px;
}

form#delete {
    display: inline-block;
}

div.description {
    margin-bottom: 15px;
}
